.footer {
  text-align: center;
  padding: 60px 40px;
  background: linear-gradient(97.37deg, #FFCD76 -11.98%, #CF942E 63.58%, #FFCD76 129.41%);
}
.footer a {
  color: #012a4c;
  font-size: 1.7rem;
  display: block;
  text-decoration: none;
}
.footer img {
  padding: 0px;
  width: 150px;
  margin: auto;
}
.footer .iia {
  color: #012a4c;
  font-weight: 500;
  z-index: 5;
  font-size: 1.9rem;
  margin-bottom: 1rem;
  display: block;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 900px) {
  .footer img {
    height: 10vw;
    padding: 0px;
  }
  .footer .iia {
    font-size: 2.4vw;
  }
  .footer a {
    font-size: 2.2vw;
  }
}

@media (max-width: 600px) {
  .footer img {
    height: 14vw;
  }
  .footer .iia {
    font-size: 3.2vw;
  }
  .footer a {
    font-size: 3vw;
  }
}

.bottom {
  margin: 10px auto;
  display: block;
}

.bottom a {
  display: inline-block;
  width: 44px;
  height: 36px;
  padding: 0px;
  font-size: 36px !important;
}

@media (max-width: 600px) {
  .bottom a {
    width: 6vw;
    height: 5vw;
    font-size: 5vw !important;
  }
}

@media (max-width: 400px) {
    .footer img {
        height: 60px !important;
    }
    .footer .iia {
        font-size: 14px !important;
    }
    .footer a {
        font-size: 13px !important;
    }
    .bottom a {
        width: 28px !important;
        height: 24px !important;
        font-size: 24px !important;
    }
}