.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}
.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.btn-secondry {
  background: transparent;
  color: var(--primary);
  border-color: var(--primary);
}

.btn-secondry:hover {
  background: var(--primary);
  color: var(--dark);
  transition: all 0.3s ease;
}
