.list-item-wrapper {
  margin-top: 10px;
  position: relative;
}
.list-item {
  display: table-row;
}
.list-title {
  font-weight: 700;
  font-size: 30px;
}
.list-text {
  min-height: 100px;
  font-weight: 400;
  font-size: 20px;
  color: white;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  /* text-align: center; */
  border-radius: 15px;
  margin: 30px 20px 0px 20px;
  box-shadow: 4px 4px 10px rgb(0, 0, 0/ 25%);
}
.list-text-inner {
  border-radius: 15px;
  padding: 40px 40px 80px 40px;
  background: linear-gradient(0deg, #1b1b1b 36.98%, rgba(1, 42, 76, 0) 100%);
}

.grid {
  display: flex;
}

.E-Talk {
  background-image: url("../../Assets/etalk.jpg");
}
.E-Talk .img {
  background-image: url("../../Assets/etalk\ icon.png");
}

.VisionX {
  background-image: url("../../Assets/visionx.jpg");
}
.VisionX .img {
  background-image: url("../../Assets/visionx\ icon.png");
}

.StockShire{
  background-image: url("../../Assets/stock.jpg");
}
.StockShire .img {
  background-image: url("../../Assets/shire.png");
}
.Impetus{
  background-image: url("../../Assets/pitch.jpg");

}
.Impetus .img {
  color: #fff;
  background-image: url("../../Assets/impetus.png");
  color: #fff;
}
.Emanate{
  background-image: url("../../Assets/emanate.jpg");
}
.Bootstrap {
  background-image: url("../../Assets/bw.jpg");
}
.Bootstrap .img {
  background-image: url("../../Assets/bw\ icon.png");
}

.E-Hack {
  background-image: url("../../Assets/ehack.jpg");
}
.E-Hack .img {
  background-image: url("../../Assets/ehack\ icon.png");
}

.Med-Tech {
  background-image: url("../../Assets/MEDtech.jpg");
}
.Med-Tech .img {
  background-image: url("../../Assets/medtech\ icon.png");
}

.Innoventure {
  background-image: url("../../Assets/innov.jpg");
}
.Innoventure .img {
  background-image: url("../../Assets/innov\ icon.png");
}

.Start-Up {
  background-image: url("../../Assets/internexpo.jpg");
}
.Start-Up .img {
  background-image: url("../../Assets/internexpo\ icon.png");
}

.Paradigm {
  background-image: url("../../Assets/para.jpg");
}
.Paradigm .img {
  background-image: url("../../Assets/para_icon.png");
}

.list-text h1 {
  font-size: 40px;
  width: 100%;
  text-align: left;
  padding-right: 80px;
  margin-bottom: 5px;
}

.list-text h3 {
  margin-bottom: 30px;
  font-style: italic;
}

.img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  height: 80px;
  width: 80px;
  margin-top: -20px;
  right: 60px;
}

.readmore,
.readless {
  display: none;
}

@media screen and (max-width: 600px) {
  .list-wrapper {
    padding: 0px;
  }
  .list-title {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: -15px;
  }
  .list-text {
    position: relative;
    font-size: 3vw;
    text-align: left;
    background-size: cover;
    background-attachment: initial;
    margin: 8vw 5vw auto -64px;
  }
  .list-text h1 {
    font-size: 7.7vw;
    padding-right: 70px;
    margin-bottom: 35px;
  }
  .img {
    height: 60px;
    width: 60px;
    margin-top: -10px;
    right: 20px;
  }
}

@media screen and (max-width: 500px) {
  .list-text {
    font-size: 4vw;
  }
  /* .extra {
    display: none;
  } */
  .readmore,
  .readless {
    font-size: 3.8vw;
    font-weight: 600;
  }
  .readmore {
    display: inline;
  }
  .expanded .extra,
  .expanded .readless {
    display: inline;
  }
  .expanded .readmore {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .list-text {
    font-size: 1rem;
  }
}

.btn-events {
  position: absolute;
  background: transparent;
  border: 3px solid #fff;
  box-sizing: border-box;
  box-shadow: 4px 4px 10px rgb(0, 0, 0/ 25%);
  border-radius: 12px;
  padding: 10px 32px;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 700;
  outline: none;
  bottom: 20px;
  right: 4vw;
}
.pointerhover
{
  cursor: -webkit-grab;
  cursor: pointer;
}

.btn-events:hover {
  background: #edb17b;
}

.btn-events:focus,
.btn-events:active {
  outline: none;
}

.btn-events.start,
.btn-events.end {
  background-color: transparent;
  border-width: 2px;
}

@media (max-width: 500px) {
  .btn-events {
    right: 8vw;
    padding: 10px 20px;
    font-size: 0.8rem;
  }
}
