html {
  scroll-behavior: smooth;
}

body {
  margin: 0 0;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 2px 2px 3px #1a5678ee;
}

body::-webkit-scrollbar-thumb {
  background-color: #1a5678;
  border-radius: 2px;
}
